<div class="chat-history">
  <ul class="m-b-0">
    <li *ngFor="let msg of messages" [ngClass]="{'float-right': msg.type === 'sent', 'float-left': msg.type === 'received'}">
      <div class="message-data">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
        <span class="message-data-time">{{ msg.timestamp }}</span>
      </div>
      <div class="message" [ngClass]="{'my-message': msg.type === 'sent', 'other-message': msg.type === 'received'}">
        {{ msg.text }}
        <div *ngIf="msg.file">
          <a [href]="getFileUrl(msg.file)" target="_blank">{{ msg.file.name }}</a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="chat-message clearfix">
  <div class="input-group">
    <input #fileInput type="file" id="fileInput" class="form-control-file ml-2">
    <label for="fileInput">Choose file</label>
    <input type="text" class="form-control" placeholder="Enter text here..." (keyup.enter)="sendMessage(fileInput)" [(ngModel)]="message">
    <button class="btn btn-primary ml-2" (click)="sendMessage(fileInput)">Send</button>
  </div>
</div>
